footer {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--primary-bg-color);
    border-top: 0.5px solid rgb(136, 136, 136);
    align-items: center;
    text-align: center;
}

footer p{
    color:var(--nav-headers-text-color);
}