.main-banner {
    margin: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(60, 60, 60);
    background: linear-gradient(0deg, var(--main-banner-gradient-color-1), var(--main-banner-gradient-color-2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-and-profession-description {
    width: 50%;
    margin: 5px;
    margin-left: 80px;
    padding: 10px;
    text-align: center;
}

.name-and-profession-description h1 {
    color: var(--highligth-text-color-1);
    font-size: 300%;
}

.name-and-profession-description h2 {
    color: var(--highligth-text-color-2);
    font-size: 200%;
}

.name-and-profession-description p {
    font-style: italic;
}

.profile-picture {
    width: 50%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--profile-border-color);
}
