:root {
    /*! Background Colors */
    --default-bg-color: rgba(255, 255, 255);
    --primary-bg-color: rgb(3, 0, 16);
    --secondary-bg-color: rgb(0, 42, 255);
    --main-banner-gradient-color-1: rgb(0, 5, 25);
    --main-banner-gradient-color-2: rgb(3, 11, 45);

    /*! Text Colors */
    --primary-text-color: rgb(220, 220, 220);
    --secondary-text-color: rgb(235, 235, 235);
    --dark-text-color: rgb(40, 40, 40);
    --highligth-text-color-1: rgb(72, 255, 255);
    --highligth-text-color-2: rgb(131, 0, 187);
    --highligth-text-color-3: rgb(0, 30, 182);
    --headers-text-color: rgb(2, 0, 46);
    --nav-headers-text-color: rgb(0, 251, 255);
    
    /*! Font Settings */
    --default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --default-font-size: 16px;
    --main-font-family: 'Georgia', serif;
    --nav-font-family: 'Monaco', monospace;

    /*! Images Settings */
    --profile-border-color: rgb(0, 166, 216);
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--default-bg-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
}

body h1, body h2, body h3 {
    margin: 5px;
    padding: 10px;
    color: var(--headers-text-color);
}

body p {
    margin: 5px;
    padding: 5px;
    color: var(--primary-text-color);
}
