.skills-section {
    width: 100%;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(90deg, var(--main-gradient-color-1), var(--main-gradient-color-2));
    border-bottom: 2px solid var(--border-color);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-section h2 {
    margin: 10px;
    padding: 10px;
    color: var(--nav-headers-text-color);
    font-size: 200%;
}

.skills-grid {
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.skill-row {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--default-bg-color);
    display: flex;
    border-bottom: 1px solid rgb(130, 130, 130);
    border-right: 1px solid rgb(130, 130, 130);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(60, 60, 60, 0.6);
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.skill-row h3 {
    color: var(--header-text-color-2);
    font-size: 150%;
}

.skill-row p{
    color: var(--dark-text-color);
}
