.skills-section {
    width: 100%;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(90deg, var(--main-gradient-color-1), var(--main-gradient-color-2));
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-section h2 {
    margin: 10px;
    padding: 10px;
    color: var(--nav-headers-text-color);
    font-size: 200%;
}

.skills-grid {
    margin: 5px;
    padding: 5px;
    width: 95%;
    max-width: 1200px;
}

.skill-row {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--default-bg-color);
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(130, 130, 130);
    border-right: 1px solid rgb(130, 130, 130);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(60, 60, 60, 0.6);
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: left;
    overflow-x: auto;
}

.skill-row > * {
  min-width: 0;
  flex-shrink: 1;
}

.skill-row h3 {
    color: var(--header-text-color-2);
    font-size: 150%;
    white-space: nowrap;
    flex-shrink: 0;
}

.skill-row p{
    color: var(--dark-text-color);
    white-space: nowrap;
}

.skill-row img{
    max-width: 100px;
    object-fit: contain;
    flex-shrink: 1;
}
