<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erick Contreras - Portfolio</title>
    </head>

    <body>
        
        <div class="main-banner">
            <div class="name-and-profession-description">
                <h1>Erick Contreras</h1>
                <h2>Software Developer</h2>
                <p>This is my portfolio where you can find information about my projects and experience. It also works as cover letter for job applications. Feel free to explore and if you interested in my work and collaborate, don't hesitate to contact me.</p>
            </div>
            <div class="profile-picture">
                <img src="../main-profile-picture.jpg" alt="profile" width="300px">
            </div>
        </div>

        <div class="about-me">
            <h2>About Me</h2>
            <p>I'm a curious and self-taught software developer. I'm more focus to web development but also interested in mobile, native development and data science.</p>
        </div>

        <div class="skills">
            <h2>Skills</h2>
        </div>

        <div class="projects">
            <h2>Projects</h2>
        </div>

        <div class="contact">
            <h2>Contact</h2>
        </div>

    </body>

</html>