<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erick Contreras - Portfolio</title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/nav_bar.css">
        <link rel="stylesheet" href="../styles/main_banner.css">
    </head>

    <body>
        
        <div class="headers">
            <div class="nav-bar">
                <div class="logo">
                    <h1>EC</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="search-toggle">
                    <div class="search-box">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-banner">
            <div class="name-and-profession-description">
                <h1>Erick Contreras</h1>
                <h2>Software Developer</h2>
                <p>This is my portfolio where you can find information about my projects and experience. It also works as cover letter for job applications. Feel free to explore and if you interested in my work and collaborate, don't hesitate to contact me.</p>
            </div>
            <div class="profile-picture">
                <img src="../images/main-profile-picture.jpeg" alt="profile" width="300px">
            </div>
        </div>

        <div class="about-me">
            <h2>About Me</h2>
            <p>I'm a curious and self-taught software developer. I'm more focus to web development but also interested in mobile, native development and data science.</p>
        </div>

        <div class="skills">
            <h2>Skills</h2>
        </div>

        <div class="projects">
            <h2>Projects</h2>
        </div>

        <div class="contact">
            <h2>Contact</h2>
        </div>

    </body>

</html>